
.main{
  /*width: 100%;*/
  /*height: 800px;*/
  display: flex;
  justify-content: space-around;
}
.rubik{
  width: 150px;
  height: 150px;
  background-color: #b3d4fc;
  text-align: center;
  font-family: 'Rubik Pixels' , sans-serif;

}
.sed{
  width: 150px;
  height: 150px;
  background-color: #b3d4fc;
  text-align: center;
  font-family: 'Sedgwick Ave Display' , sans-serif;
}
.dan{
  width: 150px;
  height: 150px;
  background-color: #b3d4fc;
  text-align: center;
  font-family: 'Dancing Script' , sans-serif;
}
.fjalla {
  width: 150px;
  height: 150px;
  background-color: #b3d4fc;
  text-align: center;
  font-family: 'Fjalla One' , sans-serif;
}
.indie{
  width: 150px;
  height: 150px;
  background-color: #b3d4fc;
  text-align: center;
  font-family: 'Indie Flower' , sans-serif;
}
